@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');

body {
  font-family: "Alef", serif;
  margin: 0;
  padding: 5px;
  text-align: center;
  background-color: #f9f9f9;
}

/* Centralizar o conteúdo do cabeçalho */
header {
  text-align: center;
  padding: 5px 0;
}

/* Estilizar a imagem para ser circular e com sombra */
.imagem-circular {
  width: 150px; /* Altere o tamanho conforme necessário */
  height: 150px; /* Deve ser o mesmo valor da largura para manter o formato circular */
  border-radius: 50%; /* Tornar a imagem circular */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra com contorno */
  display: inline-block; /* Garante que a imagem fique centralizada */
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.botao-tamanho {
  margin: 5px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.botao-tamanho.selecionado {
  background-color: #0056b3;
}
input {
  margin: 10px 0;
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px solid #ccc;
  border-radius: 5px;
}
#resultado {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

#botoesTamanhos {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Habilita rolagem horizontal */
  padding: 10px 0;
  gap: 10px; /* Espaço entre os botões */
  justify-content: center;
}

.botao-tamanho {
  white-space: nowrap; /* Garante que o texto dos botões não quebre */
  flex-shrink: 0; /* Evita que os botões sejam redimensionados em telas pequenas */
}

/* Tornar os inputs e rótulos responsivos */
@media (max-width: 600px) {
  .form-container {
    width: 100%;
  }
  .form-container label,
  .form-container input {
    width: 100%;
  }
}
