body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
}

/* Centralizar o conteúdo do cabeçalho */
header {
  text-align: center;
  padding: 20px 0;
}

/* Estilizar a imagem para ser circular e com sombra */
.imagem-circular {
  width: 150px; /* Altere o tamanho conforme necessário */
  height: 150px; /* Deve ser o mesmo valor da largura para manter o formato circular */
  border-radius: 50%; /* Tornar a imagem circular */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra com contorno */
  display: inline-block; /* Garante que a imagem fique centralizada */
}

h1 {
  color: #333;
}

input, button {
  width: 90%;
  max-width: 300px;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 100%;
  max-width: 500px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #007bff;
  color: white;
}

.container {
  margin-bottom: 30px;
}
